# ignore all
*

# allow any
!*/
!*.js
!*.json
!*.py
!*.md
!.gitignore
!python/objects/teapot.obj/vertices
!python/objects/teapot.obj/faces

# ignore
js/node_modules
js/.next
js/package-lock.json
.vscode