# ignore all
*

# allow any
!*/
!*.js
!*.json
!*.py
!*.pyx
!*.h
!*.c
!*.md
!.gitignore
!python/objects/teapot.obj/vertices
!python/objects/teapot.obj/faces
!python/objects/cube.obj/vertices
!python/objects/cube.obj/faces
!python/objects/bunny.obj/vertices
!python/objects/bunny.obj/faces

# ignore
js/node_modules
js/.next
js/package-lock.json
python/neural_mesh_renderer/cython/*.c
.vscode
build